// COLORS
$v-dark-blue: hsl(233, 47%, 7%);
$dark-blue: hsl(244, 38%, 16%);
$s-violet: hsl(277, 64%, 61%);

$white: hsl(0, 0%, 100%);
$t-white-main: hsla(0, 0%, 100%, 0.75);
$t-white-stat: hsla(0, 0%, 100%, 0.6);


// FONT
$body-font-size: 0.9375rem;

$main-font-fam:'Lexend Deca', sans-serif;
$body-font-fam: 'Inter', sans-serif;